<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->

<h1>Hi <%= dojoMember %>,</h1>

<p>This is to notify you that tickets for the next event at <b><%= dojo.name %></b> dojo are now
  available to be booked! To attend this event <a href="<%= link %>" target="_blank"
                                                  style="text-decoration: underline;">you must follow this link</a>
  and book a ticket for all attendees wishing to attend.
</p>

<h3>Book Your Ticket</h3>
<p> - Book your ticket(s) here: <a href="<%= link %>" target="_blank" style="text-decoration: underline;"><%= link %></a>
</p>

<p>If you have any questions about the event in advance please contact the Dojo directly at <%= dojo.email %></p>

<p>Best wishes,</br>
  <%= dojo.name %></p>

<% include ../common-en_US/footer.ejs %>
