<% include ../common-en_US/header.ejs %>

<h1>Hi there,</h1>

<p>You have been nominated to accept the following CoderDojo Badge on behalf of <%=recipientName%>: </p>

<div>
  <img class="badge-thumbnail" src="<%=badgeImage%>">
  <p><b><%=badgeName%></b></p>
</div>
  
<p>Please click the following link to accept the award <a href="<%=link%>"><%=link%></a></p>

<p>Best wishes,</br>
The CoderDojo Foundation Team</p>

<% include ../common-en_US/footer.ejs %>