<% include ../common-en_US/header.ejs %>

<h1>Hi <%=referentName%></h1>

<p>Your child <%=recipientName%> has just been awarded an official CoderDojo Badge, <b><%=badgeName%></b>, for their awesome skills !</p>

<p>To claim this badge and get it to display on their profile just click the button below.</p>
<a href="<%=link%>"><button type="button">Claim their badge now !</button></a>
<p>There are lots of other badges you and your child can be awarded. Check them out <a href="<%=badgelistUrl%>">here.</a></p>

<p>Create Cool Code!</br>
The CoderDojo Team</p>

<% include ../common-en_US/footer.ejs %>
