<% include ../common-en_US/header.ejs %>
  <!-- MAIN CONTENT GOES HERE -->
  <h1>Hi <%=userName%></h1>
  <p>Your application for the event <b><%=eventName%></b> taking place every <b><%=eventDay%></b> between <b><%=eventStartDate%></b> and <b><%=eventEndDate%></b> at <b><%=eventTime%></b> has been approved.</p>
<% include ../common-en_US/footer.ejs %>