<% include ../common-en_US/header.ejs %>
<!-- MAIN CONTENT GOES HERE -->

<h1>Dear team members,</h1>


<p>A new Dojo ( <a href="mailto:<%= dojoEmail %>"><%= dojoEmail %></a> ) has been created <a href="<%= dojoLink %>" target="_blank"
                                                  style="text-decoration: underline;"><%= dojoName %></a> by <%= dojoLeadName %>
</br>
<a href="<%= applicationLink %>" target="_blank" style="text-decoration: underline;">Verify their application ! </a>
</p>


<p>Cheers, </br>
  Zenbot</p>

<% include ../common-en_US/footer.ejs %>
