<h1>Hi there,</h1>

<p>The following user wants to join the <b><%=dojoName%></b> Dojo as a <b><%=userType%></b></p>

<p><b>Name:</b> <%=name%></p>
<p><b>Email:</b> <%=email%></p>

<p>To approve this request, please click the following link:
<a href="<%=link%>"><%=link%></a></p>