<h1>Hi there,</h1>

<p>A new mentor request for the <b><%=dojoName%></b> Dojo has been received from the following user:</p>
<p><b>Name:</b> <%=name%></p>
<p><b>Email:</b> <%=email%></p>

<p>To approve this request and promote the above user as a mentor, click the following link:
<a href="<%=link%>"><%=link%></a></p>