<% include ../common/header.ejs %>
  <!-- MAIN CONTENT GOES HERE -->
  <h1>Hi <%=userName%></h1>
  <p>Your application for the event <b><%=eventName%></b> taking place every <b><%=eventDay%></b> from <b><%=eventStartDate%></b> to <b><%=eventEndDate%></b> has been approved.</p>
<% include ../common/footer.ejs %>